{% extends 'service/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center mt-5">
<h3 class="text-white" ><b>Контакты</b></h3><br>
<p class="text-white"> По любым вопросам, жалобам и предложениям пишите на нашу почту info@znak.app<br>
Мы свяжемся с Вами в самые короткие сроки!</p>

<!--<button id="toggleFrameButton" class="btn btn-info m-3">Способ оплаты товаров</button>-->
<!--<iframe id="myFrame" src="{% static 'pdf/Онлайн оплата.pdf' %}" width="100%" height="1000px" style="display: none;"></iframe>-->




<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--        const frame = document.getElementById('myFrame');-->
<!--        const toggleButton = document.getElementById('toggleFrameButton');-->

<!--        toggleButton.addEventListener('click', function() {-->
<!--            if (frame.style.display === 'none') {-->
<!--                frame.style.display = 'block';-->
<!--            } else {-->
<!--                frame.style.display = 'none';-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->


<!--<button id="toggle2FrameButton" class="btn btn-info">Политика обработки персональных данных</button>-->
<!--<iframe id="myFrame2" src="{% static 'pdf/Политика_в_отношении_обработки_персональных.pdf' %}" width="100%" height="1000px" style="display: none;"></iframe>-->




<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--        const frame = document.getElementById('myFrame2');-->
<!--        const toggleButton = document.getElementById('toggle2FrameButton');-->

<!--        toggleButton.addEventListener('click', function() {-->
<!--            if (frame.style.display === 'none') {-->
<!--                frame.style.display = 'block';-->
<!--            } else {-->
<!--                frame.style.display = 'none';-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

</div>

{% endblock %}