{% extends 'service/base.html' %}

{% block content %}

<div class="container text-center mt-5">
<h3 class="text-white"><b>Кому это нужно?</b></h3>
    <br>
<p class="text-white ">Наш сервис предназначен для Риелторов, Брокеров, Агентов и прочих специалистов по недвижимости.<br>
<br>
Часто бывают ситуации, когда вам нужно срочно отправить фотографии объекта потенциальному покупателю или выставить их на сайт или первым добавить в CRM агентства. Но зачастую всё что у вас есть "на руках" - это просто объявление на какой-нибудь популярной площадке. По разным причинам владелец этого объявления не всегда может вам оперативно предоставить оригиналы фото, а зачастую они вообще потеряны. И в итоге вы стоите перед выбором - схватив фотоаппарат, сломя голову нестись на просмотр или использовать фотографии с водяными знаками сторонней площадки, что в свою очередь не солидно и даже опасно, ведь это как минимум грозит срывом потенциальной сделки...
<br><br>
Но с нашми сервисом - этот вопрос решается в несколько кликов! Если податель объявления дал вам своё согласие, то вы сможете оперировать фотографиями его объекта без водяных знаков уже через несколько секунд! Что несомненно обеспечит вам конкурентные преимущества.<br><br></p>
</div>
{% endblock %}