{% extends "service/base.html" %}
{% block content %}
{% load bootstrap_tags %}

<div class="container text-white mt-5 form-horizontal w-70">
    {% if error_msg %}
    <div class="alert alert-info" role="alert">
    {{ error_msg }}
    </div>
    {% endif %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form|as_bootstrap_horizontal:'pt-4 pb-2' }}
        <div class="submit-buttons mt-3">
        <p><input class="btn btn-dark mt-3" type="submit" value="Войти"></p>
        </div>
    </form>
    <p class="text-center">Если у вас еще нет аккаунта <a href="{% url 'register' %}">Пройдите регистрацию</a></p>
</div>
{% endblock %}

