{% extends 'service/base.html' %}
{% load static %}
{% block content %}

<div class="container text-white mt-5">
    <h1>Публичная оферта на предоставление услуг</h1>

  <br><br>
Товарищество с ограниченной ответственностью "FORREALTOR (ФОРРИЭЛТОР)",

ТОО "FORREALTOR (ФОРРИЭЛТОР)", именуемый в дальнейшем «Исполнитель», использует настоящий публичный договор-оферту для заключения договора между Исполнителем и пользователем, именуемый в дальнейшем «Пользователь», интернет-сервиса, который определяет условия приобретения и оказания услуг с использованием сервиса Исполнителя.
<br><br>
Предмет Договора
<br>
1. Исполнитель предоставляет Пользователю в рамках настоящего Договора следующие услуги:
<br>
a. Услуги по использования сервиса по очистке фотографий в рамках интернет-сервиса https://znak.app/
<br>
b. Прочие услуги в соответствии с каталогом и прейскурантом
<br>
2. Пользователь самостоятельно приобретает услуги путем оформления покупки в интернет-сервисе https://znak.app/ в соответствии с политикой онлайн оплаты
 <br><br>

Права и обязанности сторон
 <br><br>
Исполнитель обязуется:
 <br>
1. Предоставить Пользователю возможность ежедневного получения Услуг за исключением времени проведения необходимых технических ремонтных и профилактических работ, которые будут планироваться на время, когда это может нанести наименьший ущерб Абоненту.<br>
2. Осуществлять информационную поддержку Пользователя путем предоставления консультаций посредствам почтовых сервисов<br>
3. Предпринимать общепринятые в сети технические и организационные меры для обеспечения конфиденциальности информации, получаемой или отправляемой Пользователем. Доступ третьим лицам к информации, получаемой или отправляемой Пользователем, обеспечивается исключительно в соответствии с законодательством Республики Казахстан.<br>
 <br>
Пользователь обязуется:
 <br>
1. Выполнять все требования, изложенные в настоящем Договоре и его приложениях, являющихся неотъемлемой частью настоящего Договора.<br>
2. Сохранять выданные Исполнителем финансовые документы, подтверждающие произведенную оплату Услуг. Платежные документы Пользователь получает в автоматическом режиме, в интернет-сервисе Исполнителя.<br>

Стоимость услуг и порядок расчетов<br><br>

1. Стоимость Услуг определяется в прейскуранте, утвержденным Исполнителем, и доступным в интернет-сервисе Исполнителя.<br>
2. Цены на предоставляемые Услуги устанавливаются в тенге.<br>
3. Оплата за Услуги производится в тенге.<br>
4. Оплата услуг может быть произведена в соответствии с Политикой Оплаты и возврата товара<br>
5. Пользователь самостоятельно несет ответственность за правильность производимых им платежей.<br>
6. Факт оплаты Услуги считается подтвержденным после поступления сведений из платежной системы о зачислении денежных средств на счет Исполнителя<br>
7. Исполнитель вправе в одностороннем порядке пересматривать цены на Услуги и вводить новый тарифный план (изменения и дополнения в прейскурант цен). Если после вступления в силу изменений Пользователь продолжит использование Услуги, этим фактом он подтверждает свое согласие с внесенными изменениями.<br>
 <br><br>
Прекращение доступа к услуге, прекращение договора
 <br>
1. Исполнитель может в одностороннем порядке приостановить доступ Пользователя как к Услугам в целом, так и к любой их части в случае, если Пользователь вовлечен или совершает действия, которые Исполнитель обоснованно считает нарушающими правила и нормы пользования Услугами, а именно:
 <br>
a. Действия, направленные на ограничение или препятствование в доступе других абонентов к Услугам, а также осуществления попыток несанкционированного доступа к интернет-сервису Исполнителя<br>
b. Рассылка через сеть любой информации, которая противоречит требованиям законодательства Республики Казахстан или нормам международного права<br>
c. Опубликование или передача любой информации или программного обеспечения, которое содержит в себе компьютерные вирусы или другие компоненты, приравненные к ним<br>
d. Действия, направленные на то, чтобы посылать, публиковать, передавать, воспроизводить, предоставлять или в любом виде использовать в любых целях информацию, программное обеспечение или другие материалы, полностью или частично, полученные посредством Услуг, без разрешения Исполнителя.<br>
e. Направления электронных сообщений коммерческого и иного характера, несогласованной (не запрошенной) предварительно с ее получателем («СПАМ»).<br>

2. Исполнитель вправе в одностороннем порядке прекратить договорные отношения с Пользователем, с одновременной отправкой письменного уведомления Абоненту, при нарушении Абонентом условий, указанных в 1 пункте раздела «Прекращение доступа к услуге, прекращение договора» настоящего Договора.<br>
3. В процессе предоставления Услуг денежные средства автоматически списываются с лицевого счета Абонента в соответствии с текущими тарифами на используемую Услугу. Списание денежных сумм может производиться в режиме реального времени. В случае исчерпания средств на лицевом счете, доступ к Услугам автоматически прекращается.<br>
 <br><br>
Ответственность сторон
 <br>
1. Пользователь полностью ответственен за сохранность своей учетной записи и убытки, которые могут возникнуть по причине несанкционированного ее использования. Исполнитель не несет ответственности и не возмещает убытки, возникшие по причине несанкционированного доступа третьих лиц к информации о лицевом счете Пользователя.<br>
2. Пользователь полностью ответственен за неразглашение и сохранность своего пароля, указанного при регистрации учетной записи, служащей для идентификации Пользователя. Пользователь обязуется оплачивать все счета, вызванные действиями лиц, использовавших его учетную запись при доступе к Услугам.<br>
3. Исполнитель не несет ответственность за невозможность предоставления Услуг в следствии сбоев в работе технического оборудования (серверов, сетей и т..) не принадлежащих Исполнителю, но связанных с оказанием Услуги в рамках настоящего Договора, равно как и за сбои в сети передачи данных и\или линиях связи с использованием, которых предоставляется Услуга.<br>
4. Ни при каких обстоятельствах Исполнитель не будет нести ответственности за прямой или косвенный ущерб, причиненный Пользователю в результате использования или невозможности использования Услуги.<br>
5. Стороны освобождаются от ответственности за частичное или полное неисполнение своих обязательств по настоящему Договору, если такое неисполнение вызвано действием чрезвычайных и непредотвратимых обстоятельств (непреодолимая сила). К таким обстоятельствам, в частности, относятся: наводнение, пожар, землетрясение, военные действия, а также установление на основании закона Республики Казахстан отсрочки исполнения обязательств (мораторий).<br>
6. Исполнитель не несет ответственности за последствия оказания Услуг, над которым Исполнитель не имеет общего или эффективного контроля.<br>
7. Все споры и разногласия, которые могут возникнуть между Сторонами по вопросам, не нашедшим своего разрешения в тексте настоящего Договора, будут разрешаться путем переговоров на основе действующего законодательства и обычаев делового оборота. При недостижении согласия в процессе переговоров, споры разрешаются в суде по месту нахождения Исполнителя.<br>
 <br><br>
Заключительные положения
 <br>
1. Настоящий Договор действует с момента его заключения (момента регистрации Пользователя) до 31 декабря текущего календарного года. Договор автоматически продлевается на каждый следующий календарный год в случае отсутствия претензий с обеих сторон.<br>
2. Настоящий Договор и прейскурант цен являются официальными документами Исполнителя. Действующая версия каждого из этих документов размещена в ИС Исполнителя https://znak.app/<br>
3. Исполнитель может периодически изменять условия настоящего Договора и его приложений, корректировать действующие тарифы, вводить новые приложения к настоящему Договору, публикуя уведомления об изменениях в интернет-сервисе https://znak.app/. Изменения вступают в силу по истечении семи дней с момента их опубликования в интернет-сервисе Исполнителя.<br>
4. В случае, если какой-либо пункт настоящего Договора окажется не подлежащим буквальному исполнению, он толкуется в соответствии с действующим законодательством с учетом первоначальных интересов Сторон, при этом оставшаяся часть настоящего Договора продолжает действовать в полной мере.<br>
5. По всем вопросам, неурегулированным в тексте настоящего Договора, стороны руководствуются действующим законодательством РК.<br>



</div>

{% endblock %}