{% extends 'service/base.html' %}
{% load static %}
{% block content %}
<div class="container text-white mt-5">
    <h1>Пользовательское соглашение</h1>

Преамбула
<br><br>
Настоящее Пользовательское соглашение (далее «Соглашение») регулирует отношения между Администрацией сайта (далее «Администрация») и пользователем сети Интернет (далее «Пользователь»), возникающие при использовании интернет-ресурса znak.app ( ЗнакАпп )и телеграм чат-бота @znakapp_bot ( знакапп бот ), на указанных в Соглашении условиях.<br>
Использование ЗнакАпп допускается лишь на условиях данного Соглашения.<br>
Полным и безоговорочным принятием данного Соглашения является совершение Пользователем действий, направленных на использование ЗнакАпп, в том числе регистрация, получение ключа доступа, авторизация, отправка(ввод) онлайн-сервису ссылок.<br>
Пользовательское соглашение может быть изменено Администрацией в любое время без какого-либо специального уведомления об этом Пользователя. Новая редакция Пользовательского соглашения вступает в силу с момента ее размещения на Сайте znak.app. Регулярное ознакомление с действующей редакцией Пользовательского соглашения является обязанностью Пользователя.<br>
Использование ЗнакАпп после вступления в силу новой редакции Пользовательского соглашения означает согласие с ней Пользователя и применение к нему в полном объеме положений новой редакции.<br>
Термины и определения, используемые в настоящем Соглашении

1.1.) ЗнакАпп (или «Сервис» ,или «Сайт», или «онлайн-сервис», или «знакапп бот») — совокупность интернет-ресурсов расположенных в сети Интернет, под сетевыми адресами https://znak.app и https://t.me/@znakapp_bot.<br>
1.2.) Доска объявлений — сторонний интернет-ресурс, представляющий собой открытый электронный каталог объявлений, основной функциональной деятельностью которого является размещение объявлений третьими лицами.<br>
1.3.) Объявление — размещённая третьим лицом, в открытом доступе совокупность данных (текст и изображения), на доске объявлений.<br>
1.4.) Обработка объявления - процесс отправки/ввода пользоватем ссылки на объявление в любые формы и поля онлайн-сервиса АнтиЗнак, а так же отправка в ссылки на объявление телеграм боту АнтиЗнак. 1.7.) Правообладатель (или «Податель» ,или «Автор») — автор Объявления, подтверждающий свои исключительные права на изображения и текст, размещенные в Объявлении.<br>
1.5.) В Соглашении могут быть использованы термины, не определенные в настоящем разделе Соглашения. В этом случае толкование такого термина производится в соответствии с текстом Соглашения. В случае отсутствия однозначного толкования термина в тексте Соглашения следует руководствоваться толкованием термина: в первую очередь – определенным на Сайте, во вторую очередь – сложившимся в сети Интернет.<br><br>
<br>
Общие положения
<br><br>
2.1.) ЗнакАпп предназначен для профессионалов, занимающихся риелторской деятельностью, в сотрудничестве, и при обоюдном согласии, с владельцами объектов недвижимости и подателями объявлений. Если вы не являетесь профессиональным риелтором, и/или не получили согласия от Правообладателя, вам необходимо незамедлительно прекратить использование ЗнакАпп.<br>
2.2.) Настоящее Соглашение определяет условия использования онлайн-сервиса, а также права и обязанности Пользователя. Соглашение распространяется также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.<br>
2.3.) Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента активации ключа доступа и до момента начала использования Сервиса ЗнакАпп. Использование сервиса или отправка(ввод) сервису ссылок на объявления означает полное и безоговорочное принятие Пользователем настоящего Соглашения.<br>
2.4.) Пользовательское соглашение может быть изменено Администрацией в любое время без какого-либо уведомления об этом Пользователя. Новая редакция Соглашения вступает в силу с момента её размещения на Сайте, если в тексте Соглашения не указана иная дата вступления в силу новых условий.<br>
2.5.) Настоящее Соглашение размещено в открытом доступе на сайте ЗнакАпп по адресу: Ссылка на пользовательское соглашение .Пользователь обязан самостоятельно отслеживать любые изменения в тексте Соглашения путем посещения указанной страницы Сайта. В случае, если Пользователь не согласен с новой редакцией Соглашения, он обязан немедленно прекратить использование ЗнакАпп. Продолжение использования Сайта Пользователем после опубликования новой редакции Соглашения рассматривается в качестве согласия и принятия новой редакции Соглашения.<br>
Доступ к сервису и его функционалу<br><br>
<br>
Пользователь:
<br><br>
4.1.1.) обязан ознакомиться с условиями конфиденциальности и настоящим Соглашением перед регистрацией перед использованием сервиса.<br>
4.1.2.) обязан прекратить использование онлайн-сервиса ЗнакАпп, если Пользователь не принимает настоящее Соглашение или условия конфиденциальности в полном объеме.<br>
4.1.3.) обязан использовать ЗнакАпп исключительно в личных, либо в профессиональных целях.<br>
4.1.4.) перед обработкой каждого объявления с помощью онлайн-сервиса ЗнакАпп, обязан получить согласие Правообладателя данного объявления на обработку, редактирование, ретуширование, копирование, хранение, распространение текста и изображений(фотографий) из этого объявления.<br>
4.1.5.) не имеет права использовать ЗнакАпп для получения текста и/или изображений, без согласия их Правообладателя.<br>
4.1.6.) не имеет права использовать ЗнакАпп для умышленного нарушения авторских и прочих прав третьих лиц.<br><br>
<br>
Сервис ЗнакАпп:
<br><br>
4.2.1.) вправе в любое время вносить любые изменения в функционал АнтиЗнак, интерфейс и/или содержание АнтиЗнак без уведомления Пользователей.<br>
4.2.2.) вправе ограничить Пользователю доступ к использованию АнтиЗнак, без возврата потраченных пользователем средств, в случае нарушения условий настоящего Соглашения.<br>
4.2.3.) обязуется поддерживать функционирование сервиса в штатном режиме, за исключением случаев технических неполадок, либо прочих форс-мажорных обстоятельств.<br>
4.2.4.) не несет перед Пользователем иных обязательств, кроме обязательств, описанных в настоящем Соглашении.<br>
<br>
Гарантии и Ответственность
<br><br>
5.1.) ЗнакАпп предоставляется на условиях «как есть», без любого рода гарантий, как прямых, так и косвенных.<br>
5.2.) Пользователь понимает, принимает и соглашается с тем, что результат использования ЗнакАпп может не соответствовать его ожиданиям и/или потребностям.<br>
5.3.) Администрация ЗнакАпп  и/или владелец проекта и/или иные правообладатели, ни при каких обстоятельствах не несут ответственность за любой косвенный, случайный, неумышленный ущерб (включая упущенную выгоду, ущерб, причиненный утратой данных), вызванный в связи с использованием ЗнакАпп или невозможностью его использования, в том числе в случае отказа работы ЗнакАпп или иного перерыва в использовании ЗнакАпп.<br>
5.4.) При использовании сервиса ЗнакАпп, пользователь самостоятельно несет ответственность, за свои действия и их результаты.<br>
5.5.) Пользователь самостоятельно несет ответственность за соблюдение прав третьих лиц, применимого законодательства, настоящего Соглашения, при использовании АнтиЗнак.<br>
5.6.) За нарушения, допущенные Пользователем, Администрация ЗнакАпп вправе отказать Пользователю в дальнейшем предоставлении услуг и/или полностью ограничить доступ пользователя к сервису, независимо от факта уведомления Пользователя об этом.<br>
<br>
Ограничение ответственности
<br><br>
6.1.) Администрация не несёт ответственности за неисправности, ошибки и сбои в работе онлайн-сервиса ЗнакАпп.<br>
6.2.) Администрация не несет ответственности за причиненные Пользователю неудобства в результате использования или невозможности использования ЗнакАпп.<br>
6.3.) Администрация не несет ответственность перед Пользователем, или перед любыми третьими лицами, за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием ЗнакАпп.<br>
6.4.) Стороны Соглашения освобождаются от ответственности за полное или частичное неисполнение своих обязательств по Соглашению, если таковое явилось следствием обстоятельств непреодолимой силы, возникших после вступления в силу Соглашения, в результате событий чрезвычайного характера, которые не могли быть предвидены и предотвращены разумными и доступными мерами.<br>
<br>
Персональная информация Пользователя и Условия Конфиденциальности
<br><br>
7.1.) Пользователь дает согласие на обработку своих персональных данных следующими способами: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br>
7.2.) Под персональными данными пользователя в настоящем Соглашении понимается: электронная почта, номер телефона, местоположение, ip, файлы cookies и любая иная информация, относящаяся к личности Пользователя, доступная, либо известная, в любой конкретный момент времени Администрации Сайта.<br>
7.3.) Пользователь обязуется предоставлять только достоверные данные и несет ответственность за предоставленную им информацию.<br>
7.4.) Сбор и обработка персональных данных Пользователя производится с целью идентификации Пользователя, осуществления прямых контактов с Пользователем, а также с целью исполнения настоящего Соглашения.<br>
7.5.) Администрация принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.<br>
7.6.) Пользователь соглашается, что Администрация имеет право предоставлять данную персональную информацию Партнерам с целью выполнения настоящего Соглашения или целях рекламы иных товаров/услуг.<br>
7.7.) Использование персональной информации Пользователя регулируется законодательством о защите персональной информации.<br>
7.8.) Согласие на обработку персональных данных может быть отозвано Пользователем в любой момент. Для реализации права на отзыв Пользователь должен направить соответствующее обращение на адрес help@znak.app.<br>
7.9.) Информация, которую получает Пользователь об Администрации, в ходе использования ЗнакАпп, является конфиденциальной информацией. Пользователь не вправе распространять данную информацию без письменного согласия Администрации.<br>
<br>
Интеллектуальное право
<br><br>
8.1.) Исключительные права на тексты и изображения, опубликованные в Объявлении, принадлежат Правообладателю.<br>
8.2.) Пользователь сервиса ЗнакАпп обязуется получить согласие от Правообладателя на обработку, редактирование, ретуширование, копирование, хранение и любого другого использования изображений из Объявления.<br>
8.3.) Пользователь сервиса ЗнакАпп перед обработкой каждого Объявления обязуется получать индивидуальное согласие от Правообладателя.<br>
8.4.) Пользователь не имеет право использовать ЗнакАпп для получения текстов и изображений из Объявления без предварительного согласования с Правообладателем.<br>
8.5.) Администрация Сайта не несет ответственность за умышленное, или непреднамеренное, нарушение Пользователем авторских и/или иных прав третьих лиц и/или Правообладателей.<br>
8.6.) В случае обнаружения нарушения личных авторских прав, Правообладатель имеет возможность сообщить об этом по электронному адресу help@znak.app для дальнейшего разбирательства в семидневный срок. В случае подтверждения нарушения авторских прав, Пользователь незамедлительно будет ограничен от использования ЗнакАпп.<br>
<br>
Заключительные положения
<br><br>
9.1.) Пользователь гарантирует, что все условия Соглашения ему понятны, и он принимает их безусловно и в полном объеме.<br>
9.2.) Все заявления Пользователей, касательно сервиса ЗнакАпп, Администрация принимает на почтовый адрес: help@znak.app<br>
9.3.) Администрация обязуется предоставлять ответы на заявления Пользователя в течении 6 (шести) месяцев с момента получения данного заявления.<br>
9.4.) Все споры, которые возникают в связи с исполнением данного Соглашения, включая любые вопросы касательно его существования, законности, трактования, применения или прекращения, должны быть первоочередно решены мирным путем переговоров.<br>
9.5.) В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном действующим законодательством Казахстана по месту нахождения Администрации Сайта.<br>
9.6.) Настоящее Соглашение вступает в силу для Пользователя с момента его принятия им и действуют в течение неопределенного срока.<br>
9.7.) Настоящее Соглашение в данной редакции вступает в силу с момента публикации на Сайте.<br>
9.8.) Настоящее Соглашение составлено на русском языке.<br>
9.9.) Если, по тем или иным причинам, одно или несколько положений настоящего Соглашения будут признаны недействительными, или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.<br>
<br><br><br><br><br><br><br><br><br><br>

</div>

{% endblock %}