{% extends 'service/base.html' %}

{% block content %}
<div class="container text-center mt-5">
<h3 class="text-white" ><b>Стоимость</b></h3><br>
    <p class="text-white ">
    <b style="font-size: 30px;">Зарегистрируйтесь и получите 3 очистки в подарок за 0 тенге.</b><br>
        <b>(Далее от 34 тенге за одно объявление)</b><br>
Безупречный результат экономит время и усилия.<br> Znak.app — авторский проект. Наша команда постоянно его совершенствует под ваши задачи. Все работает как часы.
    </p>


</div>



{% endblock %}